/vendor
/node_modules

/public/build
/public/hot

/storage/*.key
/storage/logs/*

/bootstrap/cache/*.php

.env
.env.backup
.env.production
.env.local

.phpunit.result.cache

/.idea
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db